.btnContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    
}

button {
    height: 60vh;
    width: 25vw;
}

.wis, .str, .cou {
    display: none !important;
}

body{
    background: linear-gradient(-45deg, purple, red, black);
    background-size: 400% 600%;
    position: relative;
    animation-name: examples;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes examples{
       0%{
           background-position: 20 50%;
       }
       25%{
            background-position: 100 50%;
       }
       50%{
            background-position: 0 50%;
       }
       100%{
             background-position: 0 50%;
       }
  }

  img {
      height: 60vh;
    width: 25vw;
}

img:hover {
    transform: translate(-7px,-5px);
box-shadow: 5px 10px 2px #000000;
}

.title { display: flex;
    font-family: cursive;
    justify-content: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px #000000;
    letter-spacing: 5px;
}